name: Model CI
on: [push, pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install CML
        run: npm install -g @dvcorg/cml

      - name: Install Python dependencies & Google Cloud CLI
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt
          sudo apt-get update
          sudo apt-get install -y google-cloud-cli

      - name: Authenticate DVC with GCS
        env:
          GCP_SA_KEY: ${{ secrets.GCPKEY }}
        run: |
          echo '${{ secrets.GCPKEY }}' > dvc-sa-key.json
          export GOOGLE_APPLICATION_CREDENTIALS="${PWD}/dvc-sa-key.json"
          
          # Configure DVC remote
          dvc remote modify gcs-remote credentialpath "${PWD}/dvc-sa-key.json"

      - name: Verify GCS Access
        env:
          BUCKET_NAME: iris-dvc-bucket-rare-hub-473405-c2
        run: |
          export GOOGLE_APPLICATION_CREDENTIALS="${PWD}/dvc-sa-key.json"
          gcloud auth activate-service-account --key-file="$GOOGLE_APPLICATION_CREDENTIALS"
          gsutil ls gs://${BUCKET_NAME}

      - name: Pull DVC data
        run: |
          export GOOGLE_APPLICATION_CREDENTIALS="${PWD}/dvc-sa-key.json"
          dvc pull

      - name: Run tests & generate report
        run: |
          pytest --md report.md || echo "## Tests Failed" > report.md

      - name: Create CML report (PRs only)
        if: github.event_name == 'pull_request'
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cml comment create report.md

      - name: Cleanup credentials
        if: always()
        run: rm -f dvc-sa-key.json
